<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:inline="css" th:href="@{/css/boards.css}" rel="stylesheet">
</head>
<body>

<div layout:fragment="Content" class="content_wrap">
    <h3>문의 게시판</h3>
    <form action="/board/list_qna" method="get" id="form1">
        <div>
            <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
            <div class="flex">
                <select id="searchType" class="form-select" name="types">
                    <option value="t" th:selected="${pageRequestDTO.types == 't'}">제목</option>
                    <option value="c" th:selected="${pageRequestDTO.types == 'c'}">내용</option>
                    <option value="w" th:selected="${pageRequestDTO.types == 'w'}">작성자</option>
                    <option value="tc" th:selected="${pageRequestDTO.types == 'tc'}">제목+내용</option>
                    <option value="tcw" th:selected="${pageRequestDTO.types == 'tcw'}">제목+내용+작성자</option>
                </select>

                <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}"
                placeholder="내용을 입력해주세요">

                <div class="input-group-append">
                    <button class="btn searchBtn" type="submit">Search</button>
                    <button class="btn clearBtn" type="button">Clear</button>
                    <button class="btn writeBtn" type="button" th:if="${session.mid}">Write</button>
                </div>

            </div>
        </div>

    </form>

    <div id="boardList">
        <div>
            <table>
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Nickname</th>
                    <th scope="col">RegDate</th>
                </tr>
                </thead>

                <tbody th:with="link = ${pageRequestDTO.getLink()}">
                <tr th:each="dto:${responseDTO.dtoList}">
                    <td><a th:href="|@{/templates/board/read_qna(bdid =${dto.bdid})}&${link}|">
                        [[${dto.title}]]</a></td>
                    <td>[[${dto.nickname}]]</td>
                    <td>[[${#temporals.format(dto.regDate,'yyyy-MM-dd')}]]</td>
                </tr>
                </tbody>
            </table>
            <!--페이지 버튼-->
            <div>
                <ul class="pagination_for_board">
                    <div th:if="${responseDTO.total > 0}">
                        <li class="page-item" th:if="${responseDTO.prev}">
                            <a class="page-link" th:data-num="${responseDTO.start - 1}">Previous</a>
                        </li>
                    </div>
                    <!--#numbers.sequence : 특정한 범위의 연속된 숫자를 만듦-->
                    <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                        <li th:class="${responseDTO.page == i} ? 'page-item active' : 'page-item'">
                            <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                            <!--data-num이라는 속성으로 페이지 처리-->
                        </li>
                    </th:block>
                    <li class="page-item" th:if="${responseDTO.next}">
                        <a class="page-link" th:data-num="${responseDTO.end + 1}">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
	
    document.addEventListener("DOMContentLoaded", function () {
        const urlParams = new URL(location.href).searchParams;
        const el = document.getElementById('searchType');
        const len = el.options.length;

        // 문의 목록 페이지가 검색 목록을 보여주는 페이지라면 (검색결과 화면이라면)
        if (urlParams.get('types') !== null) {
            const str = urlParams.get('types');
            console.log(str)
            for (let i = 0; i < len; i++) {
                if (el.options[i].value == str) {
                    el.options[i].selected = true;
                }
            }
        } else {
            el.options[0].selected = true;
        }
    });

    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        const target = e.target;

        if (target.tagName !== 'A') {
            return;
        }

        const num = target.getAttribute("data-num");
        const formObj = document.querySelector("form");

        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`;
        formObj.submit();

    }, false)

    // 검색
    /*
        document.querySelector(".searchBtn").addEventListener("click", function (e) {
            var searchType = '';
            var keyword = '';

            document.getElementById('searchType')

            e.preventDefault();
            e.stopPropagation();

            //self.location = '/silbaram/board/list_qna';
        }, false)
    */
    document.querySelector(".clearBtn").addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        self.location = '/silbaram/board/list_qna';
    }, false)

    document.querySelector(".writeBtn").addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        self.location = '/silbaram/board/add_qna';
    }, false)

    //show modal
    //redirectAttributes.addFlashAttribute("result", bno);의 result 변수를 이용해서 bno가 전달됨
    //const result = [[${result}]];

    //const modal = new bootstrap.Modal(document.querySelector(".modal"));

    //if (result) {
    //	modal.show();
    //}
</script>
</body>
</html>