<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout.html}">
<head>
	<meta charset="UTF-8">
	<title>내가 쓴 리뷰</title>
	<link th:inline="css" th:href="@{/css/myBoards.css}" rel="stylesheet">
</head>
<body>

<div layout:fragment="Content" class="modify_box">
		<h5>내가 쓴 리뷰</h5>
		<div th:if="${responseDTO.total == 0}" class="nothing">
			<p>작성한 리뷰가 없습니다</p>
			<a href="#">다른 사용자들의 리뷰 확인하기 >> </a>
		</div>
		<div th:if="${responseDTO.total>0}" class="something">
			<span>현재까지 작성하신 리뷰는 총 : </span><span th:text="${responseDTO.total}+개"></span>
			<span>입니다</span>
			<table>
				<thead>
				<tr>
					<th scope="col">책 이름</th>
					<th scope="col">추천여부</th>
					<th scope="col">리뷰내용</th>
					<th scope="col">작성일자</th>
				</tr>
				</thead>
				
				<tbody th:with="link = ${pageRequestDTO.getLink()}">
				<tr th:each="dto:${responseDTO.dtoList}">
					<form id="reviewList">
						<input th:type="hidden" th:name="rid" th:value="${dto.rid}">
						<input th:type="hidden" th:name="bkid" th:value="${dto.bkid}">

						<td>[[${dto.bookname}]]</td>
						<td>[[${dto.reviewLike ? '좋아요' : '별로예요'}]]</td>
						<td>[[${dto.content}]]</td>
						<td>[[${#temporals.format(dto.regDate,'yyyy-MM-dd')}]]</td>
						<td th:if="${#strings.equals(session.mid, dto.mid)}">
							<a th:href="@{/templates/products/detail(bkid=${dto.bkid})}">수정</a>
							<a onclick="deleteBtn(event)" href='#none'>삭제</a></td>
						</td>
					</form>
				</tr>
				</tbody>
			</table>
			<!--페이지 버튼-->
			<div>
				<ul class="MyReviewPagination pagination_numbers">
					<li class="page-item" th:if="${responseDTO.prev}">
						<a class="page-link" th:data-num="${responseDTO.start - 1}">Previous</a>
					</li>
					<!--#numbers.sequence : 특정한 범위의 연속된 숫자를 만듦-->
					<th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
						<li th:class="${responseDTO.page == i} ? 'page-item active' : 'page-item'">
							<a class="page-link" th:data-num="${i}">[[${i}]]</a>
							<!--data-num이라는 속성으로 페이지 처리-->
						</li>
					</th:block>
					<li class="page-item" th:if="${responseDTO.next}">
						<a class="page-link" th:data-num="${responseDTO.end + 1}">Next</a>
					</li>
				</ul>
			</div>
	</div>
	<script layout:fragment="script" th:inline="javascript">
		
		document.querySelector(".MyReviewPagination").addEventListener("click", function (e) {
			e.preventDefault();
			e.stopPropagation();
			
			const target = e.target;
			
			if (target.tagName !== 'A') {
				return;
			}
			const num = target.getAttribute("data-num");
			window.location.href = '/silbaram/member/my_review?page=' + num
		}, false)
		
		function deleteBtn(e) {
			e.preventDefault();
			e.stopPropagation();
			
			let confirm = window.confirm("해당 리뷰를 삭제하시겠습니까?");
			if (confirm) {
				const formObj = document.querySelector("#reviewList");
				formObj.method = 'post'
				formObj.action = '/silbaram/member/review/remove'
				formObj.submit();
			}
		}
	</script>
</div>


</body>
</html>