<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:fragment="NavFragment">

<div id="category_all_btn">
  <span>전체 카테고리</span>
</div>

<div id="nav">
  <ul>

    <li><a onclick="goCategory(event)" class="100">소설/장르문학</a></li>

    <li><a onclick="goCategory(event)" class="101">예술/대중문화</a></li>

    <li><a onclick="goCategory(event)" class="102">에세이/시</a></li>

    <li><a onclick="goCategory(event)" class="103">만화/그래픽노블</a></a></li>

    <li><a onclick="goCategory(event)" class="104">외국어</a></li>

    <li><a onclick="goCategory(event)" class="105">경영/경제</a></li>

    <li><a onclick="goCategory(event)" class="106">역사/법</a></li>

    <li><a onclick="goCategory(event)" class="107">정치/사회과학</a></li>

    <li><a onclick="goCategory(event)" class="108">컴퓨터/인터넷/기술</a></li>

    <li><a onclick="goCategory(event)" class="109">과학</a></li>

    <li><a onclick="goCategory(event)" class="110">종교</a></li>

    <li><a onclick="goCategory(event)" class="111">어린이/청소년</a></li>

    <li><a onclick="goCategory(event)" class="112">가정/생활</a></li>

    <li><a onclick="goCategory(event)" class="113">건강/스포츠</a></li>

    <li><a onclick="goCategory(event)" class="114">자기계발</a></li>

    <li><a onclick="goCategory(event)" class="115">해외도서/잡지</a></li>
  </ul>
</div>


</html>