div.hidden {
    display: none;
}

*{
    box-sizing: border-box;
}

.quit_box{
    width: 1200px;
    height: 100%;
    margin: 70px auto;
    padding: 20px;
}

.quit_box h3{
    font-size: 24px;
    color: #50CDBB;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

.form_box form > div{

    margin-bottom: 15px;
}

.form_box form > div label{
    display: block;
    width: 150px;
    text-align: right;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #333;
    font-size: 16px;

}

.form_box form > div input{
    -webkit-appearance: none;
    display: block;
    width: 200px;
    height: 40px;
    background-color: #E0F5F2;
    border: none;
    margin-right: 10px;
}

.form_box form > div input[type='button']{
    display: block;
    background-color: #50CDBB;
    border: none;
    width: 100px;
    margin-right: 10px;
    font-size: 14px;
    color: white;
}

#mail-Check-Btn{
    width: 85px;
    margin-left : 10px;
}

.form_box form > div:last-child{
    justify-content: flex-end;

}

.form_box form > div:last-child button{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #50CDBB;
    margin-right: 30px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
