.mybookListBox{
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.mybookListBox h3{
    font-size: 24px;
    color: #50CDBB;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

.mybookListBox form{
    -webkit-appearance: none;
}

.mybookSearch{
    height: 50px;
    display: flex;
}

.mybookSearch select{
    -webkit-appearance: none;
    display: block;
    width: 80px;
    height: 30px;
    color: #777;
    font-weight: 500;
}

.mybookSearch select option{
    width: 80px;
    height: 30px;
    color: #777;
    font-weight: 500;
}

.mybookSearch > input{
    width: 300px;
    height: 30px;
    margin-left: 5px;
    -webkit-appearance: none;
}

.mybookSearch > div{
    margin-left : 5px;
}

.mybookSearch > div button{
    -webkit-appearance: none;
    width: 80px;
    height: 30px;
    border: 1px solid #777;
    font-weight: 500;
    color: #333;
    background-color: white;
}

.btn{
    -webkit-appearance: none;
    width: 80px;
    height: 30px;
    border: 1px solid #777;
    font-weight: 500;
    color: #333;
    background-color: white;
}

.mybooks{
    width: 100%;
    margin-top: 15px;
}

#list{
    width: 100%;
}

#list div{
    display: flex;
    flex-wrap: wrap;
}

#list > div > div{
    width: calc(20% - 15px);
    height: 300px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 0px 10px #666;
}

#list > div > div:nth-child(5n){
    margin-right: 0;
}

.bookImage{
    width: 100%;
    height: 220px;
    background-color: #88C4BE;
    margin-bottom: 10px;
}

.bookImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bookData{
    width: 100%;
    flex-direction: column;
}

.bookData p{
    width: calc(100% - 15px);
    margin-left: 15px;
    color: #777;
    font-size: 12px;
}

.pageBox{
    width: 100%;
}

.pageBox ul{
    margin: 0 auto;
}

.pageBox ul li{
    margin-right : 10px;
}

.active a{
    color: #50CDBB;
    font-size: 18px;
    font-weight: 700;
}