<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.silbaram.dao.MyBookListDAO">

    <select id="selectAllMyBooks" resultType="com.project.silbaram.vo.OrderInfoVO">
        SELECT o.*, b.`name` AS bookName, b.`writer` AS writerName, b.`bookImage` AS bookImage
        FROM `orderinfo` o
        JOIN `book` b ON o.bookId = b.bkid
        <include refid="search"></include>
        AND o.`memberId` = #{memberId}
        <if test="param1.sortType == 'recent'">
            ORDER BY `ogid` DESC
        </if>
        <if test="param1.sortType == 'spell'">
            ORDER BY b.`name` ASC
        </if>
        LIMIT #{param1.skip}, #{param1.size}
    </select>


    <select id="getCount" resultType="int">
        select count(o.ogid)
        from `orderinfo` o
        join `book` b on o.bookId = b.bkid
        <include refid="searchone"></include>
    </select>


    <sql id="searchone">
        <where>
            <if test="types != null and types.length > 0">
                and
                <foreach collection="types" item="type" open="(" close=")" separator=" OR">
                    <if test="type == 'n'.toString()">
                        b.name like concat('%', #{keyword}, '%')
                    </if>
                    <if test="type == 'w'.toString()">
                        b.writer like concat('%', #{keyword}, '%')
                    </if>
                    <if test="type == 'nw'.toString()">
                        b.name like concat('%', #{keyword}, '%')
                        OR
                        b.writer like concat('%', #{keyword}, '%')
                    </if>
                </foreach>
            </if>
        </where>
    </sql>

    <sql id="search">
        <where>
            <if test="param1.types != null and param1.types.length > 0">
                and
                <foreach collection="param1.types" item="type" open="(" close=")" separator=" OR">
                    <if test="type == 'n'.toString()">
                        b.name like concat('%', #{param1.keyword}, '%')
                    </if>
                    <if test="type == 'w'.toString()">
                        b.writer like concat('%', #{param1.keyword}, '%')
                    </if>
                    <if test="type == 'nw'.toString()">
                        b.name like concat('%', #{param1.keyword}, '%')
                        OR
                        b.writer like concat('%', #{param1.keyword}, '%')
                    </if>
                </foreach>
            </if>
        </where>
    </sql>

</mapper>